<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut amet dolores sed hic consequuntur voluptatem! Doloribus sit, necessitatibus quos porro corrupti perferendis, qui dolorum, delectus quidem ducimus est cumque.</p>
    </div>
</div>