<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Notes App Nodejs and Mongodb </h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-primary btn-lg" type="button">About</button>
      </div>
    </div>