{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>New Note</h3>
    </div>
    <div class="card-body">
        <form action="/notes/new-note" method="POST">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control mt-3" placeholder="Description" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary w-100" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
</div>
